@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));
@config "../../tailwind.config.ts";

@layer base {
  @layer base {
    :root {
      --background: 210 40% 98%;
      --foreground: 222 47% 11%;
      --card: 0 0% 100%;
      --card-foreground: 222 47% 11%;
      --popover: 0 0% 100%;
      --popover-foreground: 222 47% 11%;
      --primary: 358 85% 50%;
      --primary-foreground: 210 40% 98%;
      --secondary: 260 100% 80%;
      --secondary-foreground: 222 47% 11%;
      --muted: 210 40% 96.1%;
      --muted-foreground: 215 16% 47%;
      --accent: 55 100% 50%;
      --accent-foreground: 222 47% 11%;
      --destructive: 0 90% 60%;
      --destructive-foreground: 210 40% 98%;
      --border: 214 32% 91%;
      --input: 214 32% 91%;
      --ring: 358 85% 52%;
      --radius: 0.5rem;
      --chart-1: 12 92% 65%;
      --chart-2: 173 78% 45%;
      --chart-3: 197 85% 40%;
      --chart-4: 43 74% 66%;
      --chart-5: 27 87% 67%;
    }

    .dark {
      --background: 0 0% 3.9%;
      --foreground: 0 0% 98%;
      --card: 0 0% 3.9%;
      --card-foreground: 0 0% 98%;
      --popover: 0 0% 3.9%;
      --popover-foreground: 0 0% 98%;
      --primary: 358 85% 50%;
      --primary-foreground: 0 85.7% 97.3%;
      --secondary: 250 100% 60%;
      --secondary-foreground: 0 0% 98%;
      --muted: 0 0% 14.9%;
      --muted-foreground: 0 0% 63.9%;
      --accent: 55 80% 60%;
      --accent-foreground: 0 0% 98%;
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;
      --border: 0 0% 14.9%;
      --input: 0 0% 14.9%;
      --ring: 0 72.2% 50.6%;
      --chart-1: 220 70% 50%;
      --chart-2: 160 60% 45%;
      --chart-3: 30 80% 55%;
      --chart-4: 290 65% 60%;
      --chart-5: 340 75% 55%;
    }
  }
}

@layer base {
  * {
    border: "hsl(var(--border))";
  }
  body {
    @apply bg-background text-foreground;
  }
}
